doctype html
html(lang='en')
  head
    include ../partials/navbar-config
    include ../partials/sidebar-config
    block active-item
    include ../partials/head
  body
    section#wrapper
      header#header(class='clearfix', role='banner')
        .container: .row
          .col-xs-4.col-md-3
            #logo: a(href='/'): img(src='img/logo.png', width='275')
          .col-xs-8.col-md-6
            include ../partials/top-navbar
          .col-md-3.hidden-sm.hidden-xs
            .sitePhone.text-right 8-800-500-30-70
              div <span>(4852)</span> 57-01-01, 90-01-01
      section#headPromo.hidden-xs
        include ../partials/head-promo
      section.allotted.top.visible-xs(role='complementary')
        h4.subTitle.text-center Аренда спецтехники
        .sitePhone.text-center 8-800-500-30-70
          div <span>(4852)</span> 57-01-01, 90-01-01
      section#content.clearfix
        block content
      section.allotted(role='complementary')
        h4.subTitle.text-center Заказы по телефонам
        .sitePhone.text-center 8-800-500-30-70
          div <span>(4852)</span> 57-01-01, 90-01-01
      footer#footer(role='contentinfo')
        .container: .copyright &copy; 2010-2014 ГТС ГлобалТехноСтрой. <a href="/" class="hidden-xs">Аренда спецтехники в Ярославле</a>
    block body_child
    include ../partials/scripts
    block page_scripts