.meadiHolder
    #carousel.carousel.slide.c-fade(data-ride='carousel')
        .carousel-inner
            if (nav.menu['Главная']['active'])
                //.active.item
                    picture
                        source(srcset='img/slide1_small.jpg', media='(max-width: 768px)')
                        source(srcset='img/slide1.jpg')
                        img(src='img/slide1.jpg', alt='ГТС ГлобалТехноСтрой')

                .active.item
                    picture
                        source(srcset='img/slide6_small.jpg', media='(max-width: 768px)')
                        source(srcset='img/slide6.jpg')
                        img(src='img/slide6.jpg', alt='Погрузчик JCB 3CX')
                    .carousel-caption.hidden-xs
                        a(href='machinery/jcb-3cx', data-toggle='modal', data-target='#modalMachinery')
                            .description.hidden-sm: span Специальная цена
                            h3 Погрузчик JCB 3CX
                            div
                                .price 1250 <span>руб/час</span>
                                .order Оставить заявку
                .item
                    picture
                        source(srcset='img/slide7_small.jpg', media='(max-width: 768px)')
                        source(srcset='img/slide7.jpg')
                        img(src='img/slide7.jpg', alt='Автокран Клинцы 25 тонн')
                    .carousel-caption.hidden-xs
                        a(href='machinery/ks-55713-1k-4-klinci', data-toggle='modal', data-target='#modalMachinery')
                            .description.hidden-sm: span Специальная цена
                            h3 Автокран "Клинцы" 25 тонн
                            div
                                .price 1500 <span>руб/час</span>
                                .order Оставить заявку
                .item
                    picture
                        source(srcset='img/slide3_small.jpg', media='(max-width: 768px)')
                        source(srcset='img/slide3.jpg')
                        img(src='img/slide3.jpg', alt='Volvo BL 71B')
                    .carousel-caption.hidden-xs
                        a(href='machinery/volvo-bl-71b', data-toggle='modal', data-target='#modalMachinery')
                            .description.hidden-sm: span Специальная цена
                            h3 Погрузчик Volvo BL 71B
                            div
                                .price 1300 <span>руб/час</span>
                                .order Оставить заявку
                .item
                    picture
                        source(srcset='img/slide2_small.jpg', media='(max-width: 768px)')
                        source(srcset='img/slide2.jpg')
                        img(src='img/slide2.jpg', alt='Строительство спорткомплекса')
                    .carousel-caption.hidden-xs
                        .description.hidden-sm: span Аренда строительной техники
                        h3 ГТС ГлобалТехноСтрой
            else
                .active.item
                    picture
                        source(srcset='img/sub1_small.jpg', media='(max-width: 768px)')
                        source(srcset='img/sub1.jpg')
                        img(src='img/sub1.jpg', alt='ГТС ГлобалТехноСтрой')
.myForm.clearfix
    input#autocomplete-dynamic(type='text', placeholder='Поиск по базе из #{machineryCount} ед. спецтехники', name='country')
    //input(type='submit', value='Ярославль', disabled)
    .btn-group.btn-group-lg.dropup
        button.btn.btn-primary Ярославль
        button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown'): span.caret
        ul.dropdown-menu(role='menu')
            li: a(href='#') Ярославль
            li: a(href='#') Рыбинск
            li: a(href='#') Ростов
if (nav.menu['Главная']['active'])
    .slideHolder
        a.scrollTo(href='#content'): i.fa.fa-angle-down