mixin build-menu-items(items)
    each val, key in items
        - has_submenu = !!val.S
        if (key != 'Главная')
            li(class=(has_submenu?"dropdown":""))
                a(href=val.href, title=key, data-toggle=(has_submenu?"dropdown":""), class=(has_submenu?"dropdown-toggle":""))
                    = key
                    //if (has_submenu)
                    //    span.caret
                if (has_submenu)
                    ul(class="dropdown-menu")
                        +build-menu-items(val.S)
                    // END SubMenu item