.panel-group#sidebar
    +build-sidebar-items(nav.menu)
    .panel.panel-default
        .panel-heading
            h4.panel-title
                a(href="/page/pesok-shheben-beton") Сыпучие материалы